#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.hello {
  gap: 10px;
  font-family: "Lucida Sans";
}
.dashboard {
  row-gap: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-right: 10px;
}
.medico {
  color: rgb(62, 43, 240);
  font-size: x-large;
}
.medicine {
  color: grey;
}
.frame-1 {
  padding-left: 200px;
}
.sales {
  margin-top: 5px;
  text-align: start;
  padding-top: 20px;
}
h5 {
  text-align: start;
  color: grey;
}
table tr {
  border-color: white;
}
.text-color {
  color: blue !important;
}
.grey-color {
  color: grey !important;
}
h6 {
  text-align: start;
}
.help {
  padding-top: 100px;
}
.table-body tr {
  row-gap: 50%;
}
